* {
	padding: 0;
	margin: 0;
	font-family: "IBM Plex Sans", sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #0a1628;
}

.node {
	border-radius: 16px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	background-color: #1a2942;
}

.title {
	text-align: center;
	margin-bottom: 10px;
}

.text {
	flex: 1;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 15px;
	gap: 20px;
	background-color: #2d4a73;
}

button {
	flex: 1;
	border: none;
	border-radius: 8px;
	height: 40px;
	cursor: pointer;
	background-color: #3d5f91;
}
